<%= simple_form_for(@camera) do |f| %>
  <div class="row">
    <% if @camera.errors.any? %>
      <div class="small-12 columns">
        <div id="error_explanation">
          <h2><%= pluralize(@camera.errors.count, "error") %> prohibited this camera from being saved:</h2>

          <ul>
            <% @camera.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="small-12 medium-6 large-4 columns">
      <%= f.input :name %>
    </div>
    <div class="small-12 medium-6 large-8 columns">
      <%= f.input :description %>
    </div>
    <div class="small-12 columns">
      <%= f.input :source %>
    </div>
    <div class="small-12 medium-6 columns">
      <%= f.input :latitude, disabled: true %>
    </div>
    <div class="small-12 medium-6 columns">
      <%= f.input :longitude, disabled: true %>
    </div>
    <div class="small-12 columns">
      <%= f.input :icon, disabled: true %>
    </div>
    <div class="small-12 medium-4 columns">
      <%= f.input :status, disabled: true %>
    </div>
    <div class="small-12 medium-4 columns">
      <%= f.input  :weather_station, disabled: true %>
    </div>
    <div class="small-12 medium-4 columns">
      <%= f.input :cdot_camera_id, disabled: true %>
    </div>
    <div class="columns small-12">
      <div class="universal-flex-container universal-flex-natural admin-button-container">
        <%= f.submit "Submit", class: "admin-submit universal-flex-button flex-button-natural" %>
      </div>
    </div>
  </div>
<% end %>
