<%= simple_form_for (@camera), html: { multipart: true, class: "elevated-form row"} do |f| %>
    <% if @camera.errors.any? %>
      <div class="small-12 columns">
        <div id="error_explanation">
          <h2><%= pluralize(@camera.errors.count, "error") %> prohibited this camera from being saved:</h2>

          <ul>
            <% @camera.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="small-12 medium-6 large-4 columns">
      <%= f.input :name %>
    </div>
    <div class="small-12 medium-6 large-8 columns">
      <%= f.input :description %>
    </div>
    <div class="small-12 columns">
      <%= f.input :source %>
    </div>
    <div class="small-12 medium-6 columns">
      <%= f.input :latitude, disabled: true %>
    </div>
    <div class="small-12 medium-6 columns">
      <%= f.input :longitude, disabled: true %>
    </div>
    <div class="small-12 columns">
      <%= f.input :icon, disabled: true %>
    </div>
    <div class="small-12 medium-4 columns">
      <%= f.input :status, disabled: true %>
    </div>
    <div class="small-12 medium-4 columns checkbox-style disabled">
      <%= f.check_box :weather_station, disabled: true %>
      <%= f.label :new_tab, "<i class='fal fa-square'></i>&nbsp;Weather&nbsp;Station".html_safe %>
    </div>
    <div class="small-12 medium-4 columns">
      <%= f.input :cdot_camera_id, disabled: true %>
    </div>
    <div class="columns small-12">
      <div class="universal-flex-container universal-flex-natural admin-button-container">
        <%= f.submit "Submit", class: "admin-submit universal-flex-button flex-button-natural form-submit justify-end" %>
      </div>
    </div>
<% end %>
