<div class="row">
  <div class="columns small-12">
    <div class="cdot-container" id="cdot-camera-<%= camera.id %>">
      <h4 class="subhead"><%= link_to camera.name, "/webcams?cdot_id=#{camera.id}", title: "Click to load custom URL for bookmarking" %></h4>
      <div class="cdot-cards">
        <% camera.camera_views.each do |view| %>
          <div class="cdot-card">
            <%= image_tag view.s3_image_fetch_url %>
            <% if defined? view.s3_image_updated_at.to_ago %>
              <span class="cdot-view-age">Updated: <%= view.s3_image_updated_at.to_ago %></span>
            <% end %>
            <%= view.description %>
            <span><%= view.source %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
