<div class="row">
  <div class="columns small-12">
    <p id="notice"><%= notice %></p>

    <h1>Listing Cameras</h1>

  </div>
  <div class="columns small-12">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Description</th>
          <th>Lat, Long</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @cameras.each do |camera| %>
          <tr>
            <td><%= link_to '<i class="fas fa-eye"></i>'.html_safe, camera %></td>
            <td><%= camera.name %></td>
            <td><%= camera.description %></td>
            <td><%= camera.latitude %>,<%= camera.longitude %></td>
            <td><%= camera.status == 1 ? "Active" : "Off" %></td>
            <td>
              <%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe, edit_cdot_camera_camera_path(camera) %>
              <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, camera, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Camera', new_cdot_camera_camera_path %>
  </div>
</div>
